/* General Styles */
body {
    margin: 0;
    font-family: Times New Roman, sans-serif;
    color: #000000;
    
}

header {
    background-color: #333;
    padding: 10px 20px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #555;
}

/* Home Section */
.home-section {
    background-image: url('img8.jpg');
    padding: 50px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-section h1 {
    margin-bottom: 20px;
}

.home-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* About Section */
.about-section {
    padding: 50px;
    background-color: #dbe3e4;
}

.about-section h2 {
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.2em;
}

/* Projects Section */
.projects-section {
    padding: 50px;
    background-color: #3ecbc1;
}

.projects-section h2 {
    margin-bottom: 20px;
}

.projects-section p {
    font-size: 1.2em;
}

/* Contact Section */
.contact-section {
    padding: 50px;
    background-color:  #dbe3e4;
}

.contact-section h2 {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #007bff;
    color: white;
}
h1{
    font-size: 70px;
}
